body {
    margin-top: 3em;
}

.path {
}

.path.suggest {
    position: absolute;
    z-index: 1;
    color: #888;
    border: none;
}

.path.input {
    position: relative;
    z-index: 2;
    background: transparent;
    width: 100%;
}
